# This workflow checks out the webwork2 and pg code, runs the
# generate-ww-pg-pod.pl script, and commits the results.

name: Build POD pages

on:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    create-pod:
        runs-on: ubuntu-24.04

        steps:
            - name: Install Ubuntu dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y --no-install-recommends --no-install-suggests \
                    libpod-parser-perl libmojolicious-perl

            - name: Checkout pg-docs code
              uses: actions/checkout@v4
              with:
                  persist-credentials: false

            - name: Checkout PG code
              uses: actions/checkout@v4
              with:
                  repository: openwebwork/pg
                  ref: main
                  path: pg
                  persist-credentials: false

            - name: Checkout WW code
              uses: actions/checkout@v4
              with:
                  repository: openwebwork/webwork2
                  ref: main
                  path: webwork2
                  persist-credentials: false

            # Run the generate pod script
            - name: Create POD
              run: |
                  perl webwork2/bin/dev_scripts/generate-ww-pg-pod.pl \
                    --pg-root=/home/runner/work/pg-docs/pg-docs/pg \
                    --output-dir=pod \
                    --base-url=https://openwebwork.github.io/pg-docs/pod/

            - name: Remove pg and webwork code
              run: |
                  rm -rf pg
                  rm -rf webwork2

            - name: Commit and push changes
              uses: devops-infra/action-commit-push@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  commit_message: Updated POD
                  force: true
